Source: grandpa
Section: misc
Priority: extra
Maintainer: aszlig <aszlig@redmoonstudios.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://redmoonstudios.org/~aszlig/

Package: grandpa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GrandPA LedBar lighting controller
 The GrandPA LedBar lighting controller is an application that is specifically
 designed to control LED bars with multiple sections.
 .
 The name is based on MA Lighting's brand GrandMA :-)
